{{!-- 
The template will define the view for the user, the following is a conditional with 4 options:
  - The user is trying for the first time
  - The user successfully logged in
  - The user is retrying
  - The user is out of attempts

Each of the above will change the view and navigation for the user

--}}

<div class='demo'>
  
  {{#if tryAgain}}
    {{!-- The user is retrying --}}
    <h1 class='error'>Incorrect password entered. You have {{remainingAttempts}} login attempts left.</h1>
    {{#paper-button class='btn-try-again' onClick=(action "tryAgain") raised=true primary=true}}Try again?{{/paper-button}}
    {{#paper-button class='btn-move-on' onClick=(action "moveOn") raised=true primary=true}}Move on{{/paper-button}}
  
  {{else if lockedOut}}
    {{!-- The user is out of attempts --}}
    <h1 class='error'>Failed to authenticate this password.</h1>
    {{#paper-button class='btn-move-on' onClick=(action "moveOn") raised=true primary=true}}Move on{{/paper-button}}
  
  {{else if loginSuccess}}
    {{!-- The user successfully logged in --}}
    <h1 class='error'>Successfully authenticated this password!</h1>
    {{#paper-button class='btn-move-on' onClick=(action "moveOn") raised=true primary=true}}Move on{{/paper-button}}
  {{else}}
    {{!-- The user is trying for the first time --}}
    <h1>Enter Your Generated Banking Password</h1>
    <img src="https://picsum.photos/400/400/?image={{image}}">
    <div class='enter-password'>
      {{password-input-field
        words=model.adjectives
        placeholder='Type your 1st word'
        selection=selectedAdjective
        onSelectionChange=(action (mut selectedAdjective))}}
      {{password-input-field
        words=model.nouns
        placeholder='Type your 2nd word'
        selection=selectedNoun
        onSelectionChange=(action (mut selectedNoun))}}
      {{password-input-field
        words=model.verbs
        placeholder='Type your 3rd word'
        selection=selectedVerb
        onSelectionChange=(action (mut selectedVerb))}}
    </div>
    {{#paper-button class='btn-login' disabled=wordNotSelected onClick=(action "login") raised=true primary=true}}Login{{/paper-button}}
  {{/if}}
</div>
