{{!-- The following will display the proper view to the user 
to attempt to input their password. THe logic for these actions are in random-route.js --}}


<div class='random'>
  <h1>Social Media Password</h1>
  <h3>Your trigger image:</h3>
  <img src="https://picsum.photos/400/400/?image={{image}}">
  <h3>Your randomly generated password:</h3>
  <div class='displayed-password'>
    {{adjective.word}}
    {{noun.word}}
    {{verb.word}}
  </div>
  <h3>Practice entering your password:</h3>
  <div class='confirm-password'>
    {{password-input-field
      words=model.adjectives
      placeholder='Type your 1st word'
      selection=selectedAdjective
      onSelectionChange=(action (mut selectedAdjective))}}
    {{fa-icon (if confirmedAdjective 'check' 'times')}}
    {{password-input-field
      words=model.nouns
      placeholder='Type your 2nd word'
      selection=selectedNoun
      onSelectionChange=(action (mut selectedNoun))}}
    {{fa-icon (if confirmedNoun 'check' 'times')}}
    {{password-input-field
      words=model.verbs
      placeholder='Type your 3rd word'
      selection=selectedVerb
      onSelectionChange=(action (mut selectedVerb))}}
    {{fa-icon (if confirmedVerb 'check' 'times')}}
  </div>
  
  {{#paper-button class='btn-accept' disabled=disableAccept onClick=(action "accept") raised=true primary=true}}Accept Password{{/paper-button}}
</div>
